* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightcoral;
    color: white;
    overflow-x: hidden;
}

.box {
    --padding: 40px 90px;
    font-size: 26px;
    padding: var(--padding);
    background: royalblue;
    margin: 20px;
    transform: translateX(400%);
    transition: transform .5s linear;
    border-radius: 10px;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}