@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fruktur&family=Montserrat:wght@300&family=Nunito:wght@200&family=Roboto:wght@100&display=swap');
* {
    font-family: Montserrat;
    box-sizing: border-box;
}

:root {
    --secondary-color: black;
    --primary-color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

body.dark {
    --primary-color: black;
    --secondary-color: white;
}

button {
    margin-bottom: 90px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 8px 30px;
}

.clock {
    height: 200px;
    width: 200px;
    margin-bottom: 40px;
    position: relative;
}

.needle {
    height: 65px;
    width: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%, -100%) rotate(0deg);
    background-color: var(--secondary-color);
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    height: 80px;
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.second {
    height: 80px;
    background-color: red;
    transform: translate(-50%, -100%) rotate(0deg);
}

.center {
    height: 10px;
    width: 10px;
    background: var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.center::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: red;
    border-radius: 50%;
}

.date {
    font-size: 40px;
}