@import url(https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fruktur&family=Montserrat:wght@300&family=Nunito:wght@200&family=Muli:wght@400&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Muli, 'Times New Roman', Times, serif
}

body {
    background: rgb(119, 199, 219);
    padding: 40px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap
}

button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer
}

#addNote {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem
}

.note {
    height: 400px;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    margin: 10px
}

.note .controls {
    background-color: tomato;
    padding: 10px;
    display: flex;
    justify-content: flex-end
}

.note button {
    margin: 0 10px 0;
    font-size: 1rem
}

.note .content {
    padding: 20px;
    height: 1fr
}

.note .content textarea,
div {
    outline: none;
    width: 100%;
    border: none;
    font-size: large;
    text-align: justify
}

.hidden {
    display: none
}