* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.container {
    display: block;
    margin: auto;
    max-width: 500px;
}

.faq-container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px 30px;
    font-size: 16px;
    position: relative;
    transition: .3s ease;
}

.faq-container .answer {
    display: none;
    font-size: larger;
}

.btn {
    background: transparent;
    border: none;
    font-size: larger;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
}

.btn.close {
    display: none;
}

.faq-container.active {
    background-color: white;
}

.faq-container.active .btn.close {
    display: block;
}

.faq-container.active .btn.spread {
    display: none;
}

.faq-container.active::before {
    content: "\f086";
    font-family: 'Font Awesome 5 Free';
    font-size: 7rem;
    color: goldenrod;
    position: absolute;
    z-index: 0;
    opacity: .3;
}

.faq-container.active .answer {
    display: block;
}